@font-face {
    font-family: 'Ibarra Real Nova', serif;
    src: url(../fonts/IbarraRealNova-Bold.woff);
}

@font-face {
    font-family: 'Ibarra Real Nova', serif;
    src: url(../fonts/IbarraRealNova-Bold.woff2);
}

@font-face {
    font-family: 'Public Sans', sans-serif;
    src: url(../fonts/PublicSans-Regular.woff);
}

@font-face {
    font-family: 'Public Sans', sans-serif;
    src: url(../fonts/PublicSans-Regular.woff2);
}

body {
    font-family: 'Public Sans', sans-serif;
    
}

h1{
    font-family: 'Ibarra Real Nova',serif ;
}