@import './header';
@import './section';
@import './section.wrapper';
@import './header-wrapper';
@import './nav-wrapper';
@import './nav';



$Background: #ffffff;
$btnColor: #33323D;

.btn {
    color: $btnColor ;
    background: $Background;
}

.btn2{
    color: $btnColor ;
    background: $Background; 
}

.btn4{
    color: $btnColor ;
    background: $Background; 
}






@mixin nav__list {
    color: #33323D;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 290px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
}

.nav__list {
    @include nav__list()
}

// ======================================

@mixin nav__list__link {
    font-family: 'Public Sans', sans-serif;
    text-decoration: none;
    color: #33323D;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0.923px;
    text-transform: uppercase;
}

.nav__list__link {
    @include nav__list__link()
}



// -====================================

@mixin text {
    width: 350px;
    color: #33323D;
    font-family: 'Public Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 28px;
}

.text {
    @include text()
}

.text2 {
    @include text()
}

.text4 {
    @include text()
}


@mixin line {
    width: 350px;
    height: 1px;
    flex-shrink: 0;
    opacity: 0.15000000596046448;
    background: #33323D;
}

.line{
    @include line()
}
.line{
    @include line()
}

@mixin line2 {
    width: 350px;
    height: 1px;
    flex-shrink: 0;
    opacity: 0.15000000596046448;
    background: #33323D;
    margin-top: 100px;
}

.line2{
    @include line()
}




